@model IEnumerable<MVCForTraining.Models.User>

<h2>A list of users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Age</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.PhoneNumber</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>